@keyframes rotate{
    0%{
        transform: scale(1.5);
    }
    25%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(-35deg);
    }
    75%{
        transform: rotate(25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes fadeInScale{
    0%{
        scale: 0;
    }50%{
        scale: 130%;
    }100%{
        scale: 100%;
    }
}
@keyframes fadeOutScale{
    0%{
        scale: 100%;
    }100% {
        scale: 0;
    }
}
@keyframes bounce-in{
    0%{
        scale: 100%;
    }
    50% {
        scale: 120%;
    }
    100% {
        scale: 100%;
    }
}
@keyframes bounce-out{
    0%{
        scale: 100%;
    }
    50% {
        scale: 70%;
    }
    100% {
        scale: 100%;
    }
}
body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: black;
    background: #dadada;
}
header{
    position: relative;
    padding: 0.5em;
    border-radius: 0 0 15px 15px;
    z-index: 10;
    text-align: center;
    font-size: 10px;
    background-color: #ec6f60;
    color: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
    text-shadow: 15px 0 10px rgba(0, 0, 0, 0.5);
}
.container{
    max-width: 380px;
    display: block;
}
.category{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin: auto;
    padding: 5px 5px 0 5px;
}
.Bread{
    width: 100%;
    font-weight: 800;
    font-size: 15px;
    color: white;
    padding: .3em 0.7em calc(.3em + 3px);
    border: none;
    border-radius: 5px;
    background: rgb(247, 174, 107);
    box-shadow: 0 -3px rgb(194, 141, 88) inset;
    transition: 0.2s;
}
.inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: auto;
    grid-gap: 6px;
    padding: 5px 5px 50px 5px;
    background: linear-gradient(to bottom, white 80%, var(--tg-theme-bg-color));
}
.product{
    height: 100%;
    position: relative;
    padding: 0;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    background: rgb(255, 255, 255);
}
.product img{
    margin: 5px 0 0;
    position: relative;
    max-width: 100%;
    height: auto;
    max-height: 90px;
    z-index: 1;
}
.product img.rotate{
    animation: rotate 0.5s linear;
}
.product-title{
    position: relative;
    line-height: 1em;
    margin: -5px 0 0;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Shantell Sans', sans-serif;
    z-index: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-price{
    position: relative;
    margin: 0 0 5px;
    font-family: 'Shantell Sans', sans-serif;;
    font-size: 14px;
    z-index: 2;
}
.add-to-cart-button{
    font-weight: 800;
    color: white;
    padding: .3em 0.7em calc(.3em + 3px);
    border: none;
    border-radius: 15px;
    background: rgb(34,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    margin-bottom: 10px;
}
.delete-to-cart-button{
    opacity: 0;
    font-weight: 1000;
    color: white;
    padding: .3em 0.1em calc(.3em + 3px);
    border: none;
    border-radius: 15px;
    background: rgb(199, 34, 34);
    box-shadow: 0 -3px rgb(167, 53, 53) inset;
    transition: 0.2s;
    margin-bottom: 10px;
}
.add-to-cart-button:hover{
    background: rgb(53, 167, 110);
}
.add-to-cart-button:active{
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.delete-to-cart-button:hover{
    background: rgb(167, 53, 53);

}
.delete-to-cart-button:active{
  background: rgb(167, 53, 53);
  box-shadow: 0 3px rgb(147, 33, 33) inset;
}
.quantity{
    position: absolute;
    z-index: 2;
    top: 4px;
    right: 4px;
    font-weight: 1000;
    font-size: 16px;
    color: white;
    padding: .1em 0.4em calc(.1em + 3px);
    border-radius: 12px;
    background: rgb(245, 173, 107);
    box-shadow: 0 -3px rgb(193, 140, 88) inset;
    display: none;
}
.quantity.fade-in{
    animation: fadeInScale 0.2s ease-in;
}
.quantity.fade-out{
    animation: fadeOutScale 0.2s ease-out;
}

.quantity.bounce-in {
    animation: bounce-in 0.1s ease;
}

.quantity.bounce-out {
    animation: bounce-out 0.1s ease;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding: 0.5em;
    border-radius: 15px 15px 0 0;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    text-align: center;
    font-size: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
#cart-button {
    position: fixed;
    bottom: 50px; /* Adjust as needed */
    left: 90%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    line-height: 0.1;
    display: flex;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
#cart-button img {
    width: 30px;
    margin-right: 5px;
}
body, body * {
    user-select: none;
    -webkit-user-select: none;
    context-menu: none;
    -webkit-context-menu: none;
}
