@keyframes rotate {
            0%{
                transform: scale(1.5);
            }
            25%{
                transform: rotate(45deg);
            }
            50%{
                transform: rotate(-35deg);
            }
            75%{
                transform: rotate(25deg);
            }
            100%{
                transform: rotate(0deg);
            }
        }
@keyframes fadeInScale {
    0%{
        scale: 0;
    }50%{
        scale: 130%;
    }100%{
        scale: 100%;
    }
}

@keyframes fadeOutScale {
    0%{
        scale: 100%;
    }100% {
        scale: 0;
    }
}

@keyframes bounce-in {
    0%{
        scale: 100%;
    }
    50% {
        scale: 120%;
    }
    100% {
        scale: 100%;
    }
}

@keyframes bounce-out {
    0%{
        scale: 100%;
    }
    50% {
        scale: 70%;
    }
    100% {
        scale: 100%;
    }
}

.product img.rotate {
    animation: rotate 0.5s linear;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--tg-theme-bg-color);
}
header {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
    background-color: #CE7B61;
    color: #fff;
    text-align: center;
    padding: 0.3em 0;
    position: relative;
    z-index: 10;
}
section {
    max-width: 1000px;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product {
    position: relative;
    width: 110px;
    padding: 5px;
    background: white;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden; /* Ensure content stays within rounded corners */
    box-shadow: -3px -2px rgb(65, 65, 65) inset;

}
.product-title {
    position: relative;
    margin: -10px 0 0;
    font-weight: 600;
    z-index: 2;
}
.product-price {
    position: relative;
    margin: 0 0 5px;
    font-size: 15px;
    z-index: 2;
}
.product img {
    position: relative;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    max-height: 90px; /* Вы можете регулировать этот параметр по вашему усмотрению */
    z-index: 1;
}

.add-to-cart-button {
    font-weight: 800;
    color: white;
    padding: .3em 0.7em calc(.3em + 3px);
    border-radius: 15px;
    background: rgb(34,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
.delete-to-cart-button {
    opacity: 0;
    font-weight: 1000;
    color: white;
    padding: .3em 0.1em calc(.3em + 3px);
    border-radius: 15px;
    background: rgb(199, 34, 34);
    box-shadow: 0 -3px rgb(167, 53, 53) inset;
    transition: 0.2s;
}
.add-to-cart-button:hover { background: rgb(53, 167, 110); }
.add-to-cart-button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.delete-to-cart-button:hover { background: rgb(167, 53, 53); }
.delete-to-cart-button:active {
  background: rgb(167, 53, 53);
  box-shadow: 0 3px rgb(147, 33, 33) inset;
}
.quantity {
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 5px;
    font-weight: 1000;
    color: white;
    padding: .2em 0.6em calc(.2em + 3px);
    border-radius: 12px;
    background: rgb(34,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    display: none;

}

.quantity.fade-in {
    animation: fadeInScale 0.2s ease-in; /* add fade-out animation */
}
.quantity.fade-out {
    animation: fadeOutScale 0.15s ease-in; /* add fade-out animation */
}

.quantity.bounce-in {
    animation: bounce-in 0.1s ease;
}

.quantity.bounce-out {
    animation: bounce-out 0.1s ease;
}
footer {
    background-color: #CE7B61;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#cart-button {
    position: fixed;
    bottom: 50px; /* Adjust as needed */
    left: 90%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    line-height: 0.1;
    display: flex;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#cart-button img {
    width: 30px;
    margin-right: 5px;
}


body {
    user-select: none;
}
body {
    -webkit-user-select: none;
}
body {
    context-menu: none;
}
body {
    -webkit-context-menu: none;
}
